.home-page {
  width: 80vw;
}

.top-section {
  /* padding-inline: 8rem; */
  padding-block: 1rem;
}

.listing-search-form {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.listing-search-form label {
  padding: 0.5em;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.listing-search-form label * {
  margin-top: 0.2em;
}

#search-bar {
  max-width: none; 
  flex-grow: 1;
}

#search-bar input {
  padding-block: 5px;
  padding-inline: 20px;
  border-radius: 20px;
}

.listing-search-form button {
  align-self: flex-end;
}

.listing-card {
  border: gray 1px solid;
  border-radius: 1rem;
  box-shadow: rgba(162, 162, 162, 0.361) 0px 0px 5px;
  margin: 1rem;
  padding: 1rem;
  padding-inline: 3rem;
  max-width: 30rem;
}

.listing-card h3 {
  text-decoration: underline;
}

.results-list, .listing-stats {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0.2rem;
  margin: 0.2rem;
}

