.booking-form label {
  padding: 0.5em;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
}

.booking-form h3 {
  margin-top: 1rem;
}

.booking-form button {
  max-width: fit-content;
  background-color: aquamarine;
}

.shadow {
  box-shadow: rgba(162, 162, 162, 0.361) 0px 0px 10px;
}

.rounded {
  border-radius: 1rem;
  border: 1px solid rgb(221, 221, 221);
}

.bookings {
  max-height: 200px;
  overflow-y: auto;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}